==
<!DOCTYPE html>
<html>
	<head>
		<title>{{ this.page.title|e }}</title>
		<meta name="description" content="{{ this.page.description|e('html_attr') }}">	
		<link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}" type="text/css" media="all"/>
		
		{% styles %}
		{% placeholder head %}
	</head>
	<body>
		{% partial "header" %}
		{% content "welkom" %}
		{% page %}
		{% partial "footer" %}
		{% scripts %}
	</body>


</html>