title = "Ház"
url = "/"
layout = "default"
hidden = "0"
==
<div class="jumbotron">
    <div class="container">
        {% content "welcome.htm" %}
    </div>
</div>

<div class="container">
   Lorem ipsum enzo.
</div>